[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
cloudinary = "*"
django-cloudinary-storage = "*"
pillow = "*"
exifread = "*"
python-decouple = "*"
django-ratelimit = "*"
psycopg2-binary = "*"
django-widget-tweaks = "*"
python-dotenv = "*"
whitenoise = "*"
gunicorn = "*"
dj-database-url = "*"

[dev-packages]

[requires]
python_version = "3.13"
