-i https://pypi.org/simple
asgiref==3.8.1; python_version >= '3.8'
certifi==2025.4.26; python_version >= '3.6'
charset-normalizer==3.4.2; python_version >= '3.7'
cloudinary==1.44.0
django==5.2.2; python_version >= '3.10'
django-cloudinary-storage==0.3.0
django-ratelimit==4.1.0; python_version >= '3.7'
exifread==3.3.1; python_version >= '3.7'
idna==3.10; python_version >= '3.6'
pillow==11.2.1; python_version >= '3.9'
psycopg2-binary==2.9.10; python_version >= '3.8'
python-decouple==3.8
requests==2.32.4; python_version >= '3.8'
six==1.17.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2'
sqlparse==0.5.3; python_version >= '3.8'
urllib3==2.4.0; python_version >= '3.9'
